/*--------------------------------------------PHONE DEFAULT-----------------------------------------------------------*/
#welcome>div{
    padding-top: 3%;
    height: 10%;
    background-color: #e2e2e2;
}

#welcome>div>hr{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: inset;
    border-width: 0.1em;
}

/*--------------------------------------------TABLET DEFAULT----------------------------------------------------------*/
@media only screen and (min-width: 40.063em){
   
   
   
}

/*--------------------------------------------DESKTOP DEFAULT---------------------------------------------------------*/
@media only screen and (min-width: 64.063em) {
    


}