/*--------------------------------------------PHONE DEFAULT-----------------------------------------------------------*/
div.logo{
    height: 68px;
}



/*--------------------------------------------TABLET DEFAULT----------------------------------------------------------*/
@media only screen and (min-width: 40.063em){
    div.logo{
        height: 102px;
    }
}

/*--------------------------------------------DESKTOP DEFAULT---------------------------------------------------------*/
@media only screen and (min-width: 64.063em) {
    div.logo{
        height:135px;
    }
}